[Unit]
Description=Updates the system

[Service]
Type=simple
ExecStart=sh -c "sleep 10 && pacman -Syu --noconfirm && flatpak update -y"
Restart=on-failure
RestartSec=600s

[Install]
WantedBy=default.target
